{%extends 'index.html'%}
{%load static%}
{%block content%}

<section class="container text-center">
    <h3 class="mt-3">Welcome</h3>
    <hr><br>
    <div class="row">
        <div class="col-md-3">
            <a href="note">
                <div class="card">
                    <img class="card-img-top" src="{%static '/images/note.png'%}" alt="1">
                    <div class="card-body">
                        <h5 class="card-tittle">Notes</h5>
                        create notes to refer them later
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="homework">
                <div class="card">
                    <img class="card-img-top" src="{%static '/images/homework.jpeg'%}" alt="1">
                    <div class="card-body">
                        <h5 class="card-tittle">Homework</h5>
                        create notes to refer them later
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="youtube">
                <div class="card">
                    <img class="card-img-top" src="{%static '/images/you.jpeg'%}" alt="1">
                    <div class="card-body">
                        <h5 class="card-tittle">Youtube</h5>
                        create notes to refer them later
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="todolist">
                <div class="card">
                    <img class="card-img-top" src="{%static '/images/todo.jpeg'%}" alt="1">
                    <div class="card-body">
                        <h5 class="card-tittle">Todo</h5>
                        create notes to refer them later
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="">
                <div class="card mt-3">
                    <img class="card-img-top" src="{%static '/images/book.webp'%}" alt="1">
                    <div class="card-body">
                        <h5 class="card-tittle">Books</h5>
                        create notes to refer them later
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="">
                <div class="card mt-3">
                    <img class="card-img-top" src="{%static '/images/dic.jpeg'%}" alt="1">
                    <div class="card-body">
                        <h5 class="card-tittle">Dictionary</h5>
                        create notes to refer them later
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="">
                <div class="card mt-3">
                    <img class="card-img-top" src="{%static '/images/wiki.jpeg'%}" alt="1">
                    <div class="card-body">
                        <h5 class="card-tittle">Wikipedia</h5>
                        create notes to refer them later
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="">
                <div class="card mt-3">
                    <img class="card-img-top" src="{%static '/images/conver.png'%}" alt="1">
                    <div class="card-body">
                        <h5 class="card-tittle">Conversion</h5>
                        create notes to refer them later
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<div class="mb-4">

</div>

{%endblock%}