{%extends 'index.html'%}
{%load static%}

{%block content%}

    <div class="container mt-3">
        <table class="table table-striped table-border table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Description</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {%for item in list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{item.description}}</td>
                    <td><a href="{% url 'my_del' item.id%}">delete</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <div class="container mt-5">
            <form method="post" class="form-group">
                {%csrf_token%}
                <h3>Create a todo list</h3>
                <hr>
                {{form}}
                <br>
                <button class="btn btn-danger" type="submit">Create todo</button>
            </form>
        </div>
    </div>

{%endblock%}